@import 'variables';

.contact {
  margin-top: 50px;
}

.container {
  padding:50px 0;
}

.container-fluid {
  margin: 0;
  padding: 0;
}


.time-description {
  text-align: left;
  font-size: 12px;
}

.map__iframe {
  height: 400px;
  width: 100%;
  display: block;
}

.phone{
  font-weight: bold;
}
p > a:hover {
  text-decoration: none;
  color: $color-third;
}

.main-button {
  outline: none;
}
