@import 'variables';

.offers-description {
  margin-top: 100px;
}

.single-offer {
  padding-bottom: 100px;
  display: flex;
  justify-content: center;
}

.hero-shadow {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($color: $color-main, $alpha: 0.7);
  background-repeat: no-repeat;
  z-index: -1;
}

.offer__title {
  padding-top: 10px;
  padding-left: 20px;
  text-transform: uppercase;
  font-size: 18px;
  position: relative;
  margin: 40px auto;

  &::after {
    position: absolute;
    content: '';
    height: 1px;
    bottom: -5px;
    margin: 0 auto;
    left: 20px;
    width: 85px;
    background: $color-second;
    filter: blur(1px);
  }
}

.offer-specification {
  font-size: 14px;
  padding: 20px 25px 50px 25px;
}

.card {
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 0;
  background-image: url('/../assets/img/drzewo1.png');
  border: 0;
  color: $color-second;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.wrapper-bottom
{
    position: relative;
    height: 200px;
    width: 100%;
    overflow: hidden;
}

.comparision
{
    display: flex;
    height: 100%;
    width: 100%;


    &__img-1
    {
        height: 100%;
        width: 100%;   
        background-repeat: no-repeat;  
    }

    &__img-2
    {
        position: absolute;
        height: 100%;
        width: 50%;
        background-repeat: no-repeat; 
    }

    // &__text{
    //   text-orientation: upright;
    //   writing-mode: vertical-rl;
    //   top: 0;
    //   left: 0;
    //   height: 100%;
    //   width: 40px;
    //   line-height: 40px;
    //   text-align: center;
    //   background-image: linear-gradient(to top, rgba(18, 70, 68, .55), rgba(18, 70, 68, 1), rgba(18, 70, 68, .55));
    //   text-transform: uppercase;
    //   vertical-align: middle;
    //   color: white;
    // }
}

.slider
{
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 99;

    &__input
    {
        width: 100%;
        outline: none;
        background: none;
        -webkit-appearance: none;
    }

    &__input::-webkit-slider-thumb
    {
        height: 200px;
        width: 3px;
        background: none;
        -webkit-appearance: none;
        cursor: col-resize;
    }

    &__drag
    {
        position: absolute;
        left: 49.85%;
        width: 3px;
        height: 200px;
        background: transparent;
        pointer-events: none;
    }

    // &__drag::before,
    // &__drag::after
    // {
    //     position: absolute;
    //     content: "";
    //     width: 100%;
    //     height: 80px;
    //     background-color: $color-second;
    // }

    // &__drag::before
    // {
    //     top:0
    // }

    // &__drag::after
    // {
    //     bottom:0
    // }

    &__circle
    {
        position: absolute;
        top: 50%;
        left: 50%;
        height: 40px;
        width: 40px;
        transform: translate(-50%, -50%);
        border: 3px solid $color-second;
        border-radius: 50%;
        background-color: $color-second;
        box-shadow: $box-shadow;
    }

    &__circle::before,
    &__circle::after
    {
       position: absolute;
       content: "";
       top: 50%;
       border: 8px solid transparent;
       border-bottom-width: 0px;
       border-right-width: 0px;
       transform: translate(-50%,-50%) rotate(45deg);
    }
    &__circle::before
    {
        left: 40%;
        border-left-color: $color-main;

    }
    &__circle::after
    {
        left: 60%;
        border-top-color: $color-main;
    }
}

.text-slider
{
  display: flex;
  width: 100%;
  background: linear-gradient(to right, rgba(18, 70, 68, 1), rgba(18, 70, 68, .55), rgba(18, 70, 68, 1));
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;

  &__before,&__after
  {
    width: 50%;
    text-align: center;
    color: $color-second;
    margin-bottom: 0;
    padding: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
  }


}

.section-title {
  font-size: 36px;
  font-weight: 600;
  position: relative;
  margin: 60px auto;
  text-align: center;

  &::after {
    position: absolute;
    content: '';
    height: 1px;
    bottom: -12px;
    margin: 0 auto;
    left: 0;
    right: 0;
    width: 140px;
    background: $color-main;
    filter: blur(1px);
  }
  &__description{
    text-align: center;
    padding: 10px 15px;
  }
}

.button-container{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  padding: 50px 20px;
}


.main-button{
  margin-right: 10px;
}

@include media(sm) {
  .offer__title {

    padding-left: 40px;
    font-size: 20px;

    &::after {
      left: 40px;
    }
  }

  .offer-specification {
    font-size: 18px;
    padding: 20px 40px 50px 40px;
  }
}

@include media(md) {
  .offer__title {

    padding-left: 75px;
    font-size: 22px;

    &::after {
      left: 75px;
    }
  }

  .offer-specification {
    font-size: 20px;
    padding: 20px 75px 50px 75px;
  }
}
