<section class="offers-description">
  <div class="leaf-title">
    <div class="leaf-title__leaf">
      <h1 class="leaf-title__title">Oferta</h1>
    </div>
  </div>

  <div class="container">
    <div class="single-offer">
      <div class="col-11">
        <div class="accordion" id="acc">
          <div class="card">
            <div class="hero-shadow"></div>
            <div data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">       
                <div class="">
                  <p class="offer__title">Metoda 1:1</p>
                </div>      
            </div>
            <div id="collapseOne" class="collapse" data-parent="#acc">
              <div class="offer-specification">
                
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi ut minima impedit natus laudantium,
                  necessitatibus tempore odit, nesciunt sed accusamus cumque quaerat doloribus hic assumenda
                  obcaecatiipsum dolor sit amet consectetur adipisicing elit. Nisi ut minima impedit natus laudantium,
                  necessitatibus tempore odit, nesciunt sed accusamus cumque quaerat doloribus hic assumenda
                  obcaecati
                  fugit quam officia autem!</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate molestias perferendis,
                  inciduntipsum dolor sit amet consectetur adipisicing elit. Nisi ut minima impedit natus laudantium,
                  necessitatibus tempore odit, nesciunt sed accusamus cumque quaerat doloribus hic assumenda
                  </p>
    
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magni excepturi minus facere suscipit, tempore
                  quos porro commodi. Eveniet, iste porro.</p>
    
              </div>
            </div>       
          </div>
          <div class="slider-bottom">
          </div>
        </div>
      </div>
      
    </div>
   
  </div>
</section>