@import 'variables';

.about
{
    text-align: center;
    margin: 50px 0;

    &__title
    {
        position: relative;
        font-family: 'Dancing Script', cursive;
        font-size: 50px;
        margin-bottom: 60px;
        &::after
        {
            position: absolute;
            content: '';
            height: 1px;
            bottom: -12px; 
            margin: 0 auto;
            left: 0;
            right: 0;
            width: 100px;
            background: $color-main;
            filter: blur(1px);
        }
    }

    &__description
    {
        padding: 0 20px;
    }
}

.frame
{
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    max-height: 500px;
    max-width: 500px;

    &__background
    {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: auto;
        z-index: 98;
    }

    &__img
    {
        position: absolute;
        top: 0;
        left: 0;
        width: 50%;
        height: 50%;
        z-index: 97;
    }

}