<section class="about">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-lg-6">
                <h1 class="about__title">Witamy w salonie Nowe Spojrzenie</h1>
                <p class="about__description">Nulla porttitor accumsan tincidunt. Donec sollicitudin molestie malesuada.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ultricies ligula sed magna dictum
                    porta. Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Proin eget tortor
                    risus. Pellentesque in ipsum id orci porta dapibus. Vivamus magna justo, lacinia eget consectetur
                    sed, convallis at tellus.</p>
            </div>
            <div class="col-12 col-lg-6">
                <figure class="frame">
                    <img class="frame__background" src="./assets/img/frame.png" alt="Frame">
                    <img class="frame__img" src="./assets/img/room.jpg" alt="Salon">
                </figure>
            </div>
        </div>
    </div>
</section>