@import 'variables';
.gallery
{
    margin: 100px 0;
    &__img
    {
        transition: 0.3s linear;
       
        &:hover
        {
            transform: scale(1.2);
        }
    }
}

.gallery .card 
{
    border: 1px solid $color-main;
    overflow: hidden;
}