@import "variables";


.certificates {
  margin-top: 20px;
  margin-bottom: 70px;

  &__title {
    position: relative;
    margin: 10px auto 50px auto;
    text-align: center;

    &::after {
      position: absolute;
      content: '';
      height: 1px;
      bottom: -12px;
      margin: 0 auto;
      left: 0;
      right: 0;
      width: 100px;
      background: $color-main;
      filter: blur(1px);
    }
  }

}

.document-img {
  height: 300px;
  width: 200px;
}

.glide__arrow {
  border: 0;
  padding: 0;
  border-radius: 50%;
  top: 110%;

}

@include media(md) {
  .glide__arrow {
    top: 50%;
  }

  .glide__arrow--right {
    right: -40px;
  }

  .glide__arrow--left {
    left: -40px;
  }
}
