@import "variables";


.certificates {
  margin: 50px 0 200px 0;

  &__title {
    position: relative;
    margin: 10px auto 50px auto;
    text-align: center;

    &::after {
      position: absolute;
      content: '';
      height: 1px;
      bottom: -12px;
      margin: 0 auto;
      left: 0;
      right: 0;
      width: 100px;
      background: $color-main;
      filter: blur(1px);
    }
  }

}

.cert-list{
  text-align: center;
  &__item{
    padding: 5px 0;
  }
}

.document-img {
  height: 300px;
  width: 250px;
  border: 1px solid $color-main;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.glide__arrow {
  border: 0;
  padding: 0;
  border-radius: 50%;
  top: 110%;

}

@include media(md) {
  .glide__arrow {
    top: 50%;
  }

  .glide__arrow--right {
    right: -40px;
  }

  .glide__arrow--left {
    left: -40px;
  }

  .certificates {
    margin-bottom: 100px;
  }
}

@include media(sm) {
  .document-img {
    width: 245px;
  }
}
