<section class="certificates">
  <div class="container-layout">
    <div class="container-layout__short">
      <div class="hero-shine"></div>
      <div class="text-box">
        <img class="text-box__img" src="./assets/img/serce-small.png" alt="Ambasador Lexelle Beauty">
        <p>Ambasador</p>
        <p>Lexelle Beauty</p>
      </div>

    </div>
  </div>
  <header>
    <h2 class="certificates__title">Certyfikaty</h2>
  </header>
  <div class="container">
    <div class="glide">
      <div class="glide__track" data-glide-el="track">
        <ul class="glide__slides cert-list">
          <li class="glide__slide cert-list__item"><img class="document-img" src="./assets/img/dyplom.webp"
              alt="Certyfikat"></li>
          <li class="glide__slide cert-list__item"><img class="document-img" src="./assets/img/dyplom.webp"
              alt="Certyfikat"></li>
          <li class="glide__slide cert-list__item"><img class="document-img" src="./assets/img/dyplom.webp"
              alt="Certyfikat"></li>
          <li class="glide__slide cert-list__item"><img class="document-img" src="./assets/img/dyplom.webp"
              alt="Certyfikat"></li>
          <li class="glide__slide cert-list__item"><img class="document-img" src="./assets/img/dyplom.webp"
              alt="Certyfikat"></li>
          <li class="glide__slide cert-list__item"><img class="document-img" src="./assets/img/dyplom.webp"
              alt="Certyfikat"></li>
        </ul>
      </div>
      <div class="glide__arrows" data-glide-el="controls">
        <button class="glide__arrow glide__arrow--left" data-glide-dir="<" name="arrow left"><img
            src="/../assets/img/left-arrow-small.png" alt="Lewa strzałka"></button>
        <button class="glide__arrow glide__arrow--right" data-glide-dir=">" name="arrow right"><img
            src="/../assets/img/right-arrow-small.png" alt="Prawa strzałka"></button>
      </div>
      <div class="slider__bullets glide__bullets" data-glide-el="controls[nav]">
        <button class="slider__bullet glide__bullet glide__bullet--active" data-glide-dir="=0" name="bullet"></button>
        <button class="slider__bullet glide__bullet" data-glide-dir="=1" name="bullet"></button>
        <button class="slider__bullet glide__bullet" data-glide-dir="=2" name="bullet"></button>
        <button class="slider__bullet glide__bullet" data-glide-dir="=3" name="bullet"></button>
        <button class="slider__bullet glide__bullet" data-glide-dir="=4" name="bullet"></button>
        <button class="slider__bullet glide__bullet" data-glide-dir="=5" name="bullet"></button>
      </div>
    </div>
  </div>
</section>