<section class="contact">
  <div class="container">

    <div class="leaf-title">
      <div class="leaf-title__leaf">
        <h1 class="leaf-title__title">Kontakt</h1>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 py-4">
        <div class="main-ib">
          <div class="main-ib__title">
            Adres Nowe Spojrzenie
          </div>
          <div class="main-ib__content">
            <p>I piętro</p>
            <p>Al. 3 Maja 4</p>
            <p>Ostrowiec Świętokrzyski</p>
            <p>27-400</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 py-4">
        <div class="main-ib">
          <div class="main-ib__title">
            Godziny otwarcia
          </div>
          <div class="main-ib__content">
            <p>Poniedziałek - Piątek: 8:00 - 22:00</p>
            <p>Sobota - Niedziela: 8:00 - 22:00</p>
            <p class="time-description">Jeżeli potrzebujesz umówić się na zabieg poza standardowymi godzinami pracy - napisz do Nas, a
              postaramy się wybrać dogodny dla Ciebie termin wizyty</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 py-4">
        <div class="main-ib">
          <div class="main-ib__title">
            Skontaktuj się
          </div>
          <div class="main-ib__content">
            <p>paulinarusak99@gmail.com</p>
            <p>+48 797 723 557</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 py-4">
        <div class="main-ib">
          <div class="main-ib__title">
            Jak dojechać
          </div>
          <div class="main-ib__content main-btn-center">
            <button class="place-button">Wyznaczanie trasy</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1257.1431796212241!2d21.386858684959886!3d50.936917028409006!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4718092afc054f7b%3A0x386b351b2fdaa8b6!2sNowe%20spojrzenie%20stylizacja%20rz%C4%99s!5e0!3m2!1spl!2spl!4v1608566939183!5m2!1spl!2spl" frameborder="0"  class="map__iframe" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
  </div>
</section>