<section class="offers-description">
  <header>
    <div class="leaf-title">
      <div class="leaf-title__leaf">
        <h1 class="leaf-title__title">Oferta</h1>
      </div>
    </div>
  </header>
  <div *ngIf="titlesList; then contentTitle else loadModal"></div>
  <div *ngIf="offersList; then contentAccordion else loadModal"></div>

  <ng-template #loadModal>
    <div class="blurred">
      <button class="loading-button" type="button" disabled>
        <div class="vert">
          <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
          <span class="visually-hidden">Loading...</span>
        </div>
      </button>
    </div>
  </ng-template>
  <ng-template #contentTitle>
    <section>
      <div class="container">
        <h2 class="section-title">{{titlesList?.title_offer}}</h2>
        <p class="section-title__description">{{titlesList?.description_offer}}</p>
        <p class="section-title__description ">Zarezerwuj wizyte: 797-723-557 </p>
        <div class="title-container">
          <p class="title-container__titles" (click)="smoothScroll(i+1)" *ngFor='let item of offersList;index as i'>
            {{item.title_mainoffer}}</p>
        </div>
      </div>
    </section>
  </ng-template>

  <ng-template #contentAccordion>
    <section>
      <div class="container">
        <article class="single-offer" *ngFor='let item of offersList; let i = index'>
          <div class="col-12 col-lg-11">
            <div class="accordion" id="acc{{i+1}}">
              <div class="card">
                <div class="hero-shadow"></div>
                <div class="cursor-area" data-toggle="collapse" attr.data-target="#collapse{{i+1}}" aria-expanded="true"
                  aria-controls="collapse{{i+1}}" (click)='switcharrow(i+1)'>
                  <div class="offer">
                    <header>
                      <h3 class="offer__title">{{item.title_mainoffer}}</h3>
                      <img src="./assets/icons/arrow-icon-small.png" [ngClass]="{'move': i+1 === 1}"
                        class="a{{i+1}} arrow-things" alt="arrow icon">
                    </header>
                  </div>
                </div>
                <div id="collapse{{i+1}}" class="collapse {{i+1 == 1 ? 'show' : ''}}" data-parent="#acc{{i+1}}">
                  <div class="offer-specification">
                    <p>{{item.description_par1_mainoffer}}</p>
                    <p>{{item.description_par2_mainoffer}}</p>
                    <p>{{item.description_par3_mainoffer}}</p>
                  </div>
                  <div class="comparision">
                    <img class="comparision__img" [src]="item.url_imgafter_mainoffer.guid" alt="Zdjęcie zabiegu">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </article>
      </div>
    </section>
  </ng-template>
</section>