@import "variables";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    font-family: 'Poppins', sans-serif;
    background-color: $background-main;
    font-weight: 400;
}

a
{
    display: inline-block;
    color: inherit; 
    text-decoration: inherit;
}

.fixed {
    overflow: hidden;
  }

.icon
{
    width: 16px;

    &--big
    {
        width: 28px;
        margin: 5px;
    }
}

.icon-link img
{
    transition: 0.3s ease;
}

.icon-link img:hover
{
    transform: scale(0.8);
    border-radius: 25px;
    box-shadow: 0px 0px 15px 2px #e5e5e5;
}
