@import "variables";

.hero-shadow {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: -1;
}

.container-lg {
  padding: 0;
  margin: 0;
}

.carousel-indicators .active {
  background-color: #124644;
}


.carousel-control-next,
.carousel-control-prev {
  align-items: flex-end;
  padding-bottom: 20px;
}

.row-container {
  height: 100%;
}

.carousel-item {
  color: $color-second;
  position: relative;
  height: 400px;
  background-position: center;
  background-size: cover;
  z-index: 0;
}

.one {
  background-image: url("/../assets/img/header-img1.png");
}
.two {
  background-image: url("/../assets/img/header-img2.jpg");
}
.three {
  background-image: url("/../assets/img/header-img3.jpg");
}


.three .description {
  padding: 20px;
}

.promo {
  font-size: 14px;
}

.description {
  &__title {
    text-align: center;
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: bold;
    padding-bottom: 20px;
  }

  &__list {
    font-size: 14px;
    list-style: none;
  }
  &__item {
    padding-bottom: 5px;
  }
  &__img{
    height: 12px;
    width: 12px;
    margin-right: 5px;
  }
}


.carousel-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
}

.read-more-container__button {
  color: $color-main;
  background-color: white;
  padding: 10px 35px;
  border: 1px solid black;
  cursor: pointer;
}


.facebook-button {
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  &:hover {
    animation: pulse 2s infinite;
  }
}

@include media(md) {
  .carousel-item {
    height: 500px;
  }

  .facebook-button {
    height: 70px;
  }

  .carousel-control-next,
  .carousel-control-prev {
    padding-bottom: 60px;
  }

  .three .description {
    max-width: 400px;
    padding-left: 40px;
  }

  .description__title {
    text-align: left;
    font-size: 1.8rem;
  }

  .description__list {
    font-size: 1.1rem;
  }

  .con div.carousel-item:nth-of-type(even) .flex-changer {
    display: flex;
  }

  .con div.carousel-item:nth-of-type(even) .flex-changer {
    flex-direction: row-reverse;
  }
}

@include media(lg) {
  .container-lg {
    margin: 15px auto;
  }


  .carousel-control-next,
  .carousel-control-prev {
    align-items: center;
    padding-bottom: 0;
  }


  .three .description {
    padding-left: 60px;
  }

  .description {
    padding-left: 30px;
  }
}
