@import url('https://fonts.googleapis.com/css2?family=Philosopher&display=swap');

.error{
  padding: 100px 0;
}
.container{
  font-family: 'Philosopher', sans-serif;
}
.error-box {
  background-image: url('src/assets/img/error404.jpg');
  background-repeat: no-repeat;
  height: 300px;
  background-position: 50%;
}

.notfound{

padding:50px 15px;
font-size: 36px;
display: flex;
justify-content: center;
align-items: center;
}

.notfount__description{
  text-align: center;
  font-size: 22px;
}