<section class="opinions" (scroll)="onScroll($event)">
    <header>
        <h2 class="opinions__title">Opinie naszych Klientów</h2>
    </header>
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-7">
                    <figure class="opinion">
                        <blockquote class="opinion__text">Polecam! Zawsze wychodzę MEGA zadowolona, lekkie rzęski, super
                            brwi, wszystko długo się utrzymuje, a mata masująca sztos!
                        </blockquote>
                        <figcaption class="opinion__author">- Milena</figcaption>
                    </figure>
                </div>
                <div class="col-12 col-lg-7 offset-lg-5">
                    <figure class="opinion">
                        <blockquote class="opinion__text">Szkolenie u Pauliny to czysta przyjemność w doskonałym
                            towarzystwie, dużo teorii i indywidualne podejście.
                        </blockquote>
                        <figcaption class="opinion__author">- Magdalena</figcaption>
                    </figure>
                </div>
            </div>
        </div>
    </div>
</section>