<section class="offers">
  <h2 class="offers__title">W naszej ofercie znajdziesz</h2>
  <div class="container">
    <div class="row display-row">

      <div class="col-md-6 col-lg-5 py-4">
        <div class="main-ib radius">
          <div class="main-ib__border">
            <p class="main-ib__title">Pielęgnacja rzęs</p>

          </div>
          <div class="main-ib__content radius py-5 px-4 ">
            <ul class="content-list__display">
              <li><img class="main-ib__img" src="./assets/img/check_i.png" alt="check" />
                Przedłużanie</li>
              <li><img class="main-ib__img" src="./assets/img/check_i.png" alt="check" />
                Uzupełnianie</li>
              <li><img class="main-ib__img" src="./assets/img/check_i.png" alt="check" />
                Laminacja</li>
              <li><img class="main-ib__img" src="./assets/img/check_i.png" alt="check" />
                Regulacja</li>
              <li><img class="main-ib__img" src="./assets/img/check_i.png" alt="check" />
                Lifting</li>
            </ul>

            <button class="main-button mt-4 align-self-end" [routerLink]="['/oferta']"
              [queryParams]="{offer:'rzesy'}">Szczegóły</button>


          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-5 py-4">
        <div class="main-ib radius">
          <div class="main-ib__border">
            <p class="main-ib__title">Pielęgnacja brwi</p>
          </div>
          <div class="main-ib__content radius py-5 px-4 ">
            <ul class="content-list__display">
              <li><img class="main-ib__img" src="./assets/img/check_i.png" alt="check" />
                Laminacja</li>
              <li><img class="main-ib__img" src="./assets/img/check_i.png" alt="check" />
                Farbka</li>
              <li><img class="main-ib__img" src="./assets/img/check_i.png" alt="check" />
                Henna żelowa</li>
              <li><img class="main-ib__img" src="./assets/img/check_i.png" alt="check" />
                Pęseta</li>
              <li><img class="main-ib__img" src="./assets/img/check_i.png" alt="check" />
                Wosk</li>
              <li><img class="main-ib__img" src="./assets/img/check_i.png" alt="check" />
                Makijaż permanentny</li>
            </ul>
            <button class="main-button mt-4" [routerLink]="['/oferta']"
              [queryParams]="{offer:'brwi'}">Szczegóły</button>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>