<section class="py-5">
  <div class="container">
    <div class="row display-row">

      <div class="col-lg-5 py-4">
        <div class="main-ib">
          <div class="main-ib__border">
          </div>
          <div class="main-ib__content">
            <div class="main-ib__title-img">
              <img class="" src="./assets/img/brwi_i.png" alt="check" />
              <p class="main-ib__title">Pielęgnacja rzęs</p>
            </div>
        <div class="content-list">
          <ul class="text-left content-list__display">
            <li><img class="main-ib__img" src="./assets/img/check_i.png" alt="check" /> 
              Przedłużanie</li>
            <li><img class="main-ib__img" src="./assets/img/check_i.png" alt="check" />
              Uzupełniania</li>
            <li><img class="main-ib__img" src="./assets/img/check_i.png" alt="check" />
              Laminacja</li>
            <li><img class="main-ib__img" src="./assets/img/check_i.png" alt="check" />
              Regulacja</li>
            <li><img class="main-ib__img" src="./assets/img/check_i.png" alt="check" />
              Lifting</li>
          </ul>
        </div>
            
          </div>
        </div>
      </div>

      <div class="col-lg-5 py-4">
        <div class="main-ib">
          <div class="main-ib__border">
          </div>        
          <div class="main-ib__content">
            <div class="main-ib__title-img">
              <img src="./assets/img/lashes_i.png" alt="check" />
              <p class="main-ib__title"> Pielęgnacja rzęs</p>
            </div>
           <div class="content-list">
            <ul class="text-left content-list__display">
              <li><img class="main-ib__img" src="./assets/img/check_i.png" alt="check" /> Laminacja</li>

              <li><img class="main-ib__img" src="./assets/img/check_i.png" alt="check" />
                Farbka</li>
              <li><img class="main-ib__img" src="./assets/img/check_i.png" alt="check" />
                Henna żelowa</li>
              <li><img class="main-ib__img" src="./assets/img/check_i.png" alt="check" />
                Pęseta</li>
              <li><img class="main-ib__img" src="./assets/img/check_i.png" alt="check" />
                Wosk</li>
              <li><img class="main-ib__img" src="./assets/img/check_i.png" alt="check" />
                Makijaż permanentny</li>
            </ul>
           </div>
              
       
           
          </div>
        </div>
      </div>

    </div>
  </div>
</section>