<section class="gallery">
    <div class="container">
        <div class="row">
            <div class="col-12">

                <a href="https://unsplash.it/1200/768.jpg?image=251" data-lightbox="image-1" data-title="My caption"
                    class="col-sm-4 gallery__container">
                    <img src="https://unsplash.it/600.jpg?image=251" class="img-fluid gallery__img">
                </a>
                <a href="https://unsplash.it/1200/768.jpg?image=251" data-lightbox="image-1" data-title="My caption"
                    class="col-sm-4 gallery__container">
                    <img src="https://unsplash.it/600.jpg?image=251" class="img-fluid gallery__img">
                </a>
                <a href="https://unsplash.it/1200/768.jpg?image=251" data-lightbox="image-1" data-title="My caption"
                    class="col-sm-4 gallery__container">
                    <img src="https://unsplash.it/600.jpg?image=251" class="img-fluid gallery__img">
                </a>
                <a href="https://unsplash.it/1200/768.jpg?image=251" data-lightbox="image-1" data-title="My caption"
                    class="col-sm-4 gallery__container">
                    <img src="https://unsplash.it/600.jpg?image=251" class="img-fluid gallery__img">
                </a>
                <a href="https://unsplash.it/1200/768.jpg?image=251" data-lightbox="image-1" data-title="My caption"
                    class="col-sm-4 gallery__container">
                    <img src="https://unsplash.it/600.jpg?image=251" class="img-fluid gallery__img">
                </a>
                <a href="https://unsplash.it/1200/768.jpg?image=251" data-lightbox="image-1" data-title="My caption"
                    class="col-sm-4 gallery__container">
                    <img src="https://unsplash.it/600.jpg?image=251" class="img-fluid gallery__img">
                </a>
            </div>
        </div>
    </div>
</section>