<div *ngIf="images$; then contentGallery else loadModal"></div>
<ng-template #loadModal>
    <div class="blurred">
        <button class="loading-button" type="button" disabled>
            <div class="vert">
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                <span class="visually-hidden">Loading...</span>
            </div>
        </button>
    </div>
</ng-template>
<ng-template #contentGallery>
    <section class="gallery">
        <div class="container">
            <div class="row justify-content-center">
                <div class="leaf-title">
                    <div class="leaf-title__leaf">
                        <h1 class="leaf-title__title">Galeria</h1>
                    </div>
                </div>
                <div class="card-columns">
                    <div class="card" *ngFor="let image of images$">
                        <a [attr.href]="image.guid" data-lightbox="image-1" class="img-fluid">
                            <img [attr.src]="image.guid" class="card-img-top gallery__img">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</ng-template>