@import "variables";


footer {
  color: $color-second;
  background-color: $color-main-dark;
}

.footer-container {
  padding-top: 120px;
  padding-bottom: 120px;
  background-color:$color-main;
  position: relative;
  overflow: hidden;
    &::after,
    &::before{
    content: "";
    position: absolute;
    height: 120px;
    width: 120px;
    background-size: cover;
    background-repeat: no-repeat;
  }

  &::before{
    background-image: url('/../assets/img/leaf.png');
    bottom: 0;
    right: -1%;
  }

  &::after{
    background-image: url('/../assets/img/leaf.png');
    transform: rotate(180deg);
    top: 2%;
    left: -1%;
  }
  &__box{
    padding:30px 15px;
    }
  &__titles{
     padding-top: 10px;
     padding-bottom: 35px;
     font-size: 1.3rem;
     font-weight: bold;
     }
    
  &__content{
     font-size: 1rem;
     }
  &__content img{
     vertical-align: middle;
     margin-right: 5px;
    }
}

.footer-realize {
  font-size: 0.8rem;
  padding: 25px 15px;
  text-align: center;
}

/* podkreślenie*/ 
.underline {
  text-decoration: none; 
  position: relative; 
}   

.underline:after {
   position: absolute;
   content: '';
   height: 2px;
   bottom: -15px; 
   margin: 0 auto;
   left: 0;
   right: 0;
   width: 50%;
   background: #ddd;
   filter: blur(1px);
}

@include media(lg){
  .underline:after {
    width: 100%
  }
}