<footer>
  <div class="container-fluid footer-container">
    <div class="container">
      <div class="row text-center">

        <div class="col-12 col-lg-4 footer-container__box">
          <div class="footer-container__titles">
            <div class="col-sm underline">Salon</div>
          </div>
          <div class="footer-container__content">
            <div class="col-sm ">
              <img class="icon" src="./assets/icons/map-marker.png" alt="place" />I piętro
            </div>
            <div class="col-sm ">Al. 3 Maja 4</div>
            <div class="col-sm ">Ostrowiec Świętokrzyski 27-400</div>
          </div>
        </div>

        <div class="col-12 col-lg-4 footer-container__box">
          <div class="footer-container__titles">
            <div class="col-sm underline">Kontakt</div>
          </div>
          <div class="footer-container__content">
            <div class="col-sm" (click)='mailMe()'>
              <img class="icon" src="./assets/icons/email_i.png" alt="email" />paulinarusak99@gmail.com
            </div>
            <div class="col-sm" (click)='callMe()'>
              <img class="icon" src="./assets/icons/phone_i.png" alt="phone" />+48 797 723 557
            </div>
          </div>
        </div>

        <div class="col-12 col-lg-4 footer-container__box ">
          <div class="footer-container__titles">
            <div class=" col-sm underline"> Obserwuj nas</div>
          </div>
          <div class="footer-container__content">
            <div class="col-sm ">
              <a class="icon-link mr-2" href="https://www.facebook.com/" target="_blank">
                <img class="icon--big" src="./assets/icons/facebook_i.png" alt="Facebook" />
              </a>
              <a class="icon-link" href="https://www.instagram.com/" target="_blank">
                <img class="icon--big" src="./assets/icons/instagram_i.png" alt="Instagram" />
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="container-fluid footer-realize">
    <div class="row mr-0">
      <div class="col-12 col-lg-4 text-lg-left  pl-lg-3">
        Copyright<span> &#169;</span> 2020 Nowe Spojrzenie
      </div>
      <div class="col-12 col-lg-4 text-lg-center">
        Realizacja: Bartosz Stojek, Krzysztof Śmiertka
      </div>
      <div class="col-12 col-lg-4 text-lg-right">
        Polityka Prywatności
      </div>
    </div>
  </div>
</footer>