<header class="header">
  <div class="infobar bg-primary">
    <div class="container-fluid container-lg pt-2 pb-2">
      <div class="row align-items-center justify-content-sm-start">
        <div class="col-12 col-sm-auto col-lg-auto text-center text-sm-left fsmall">
          <img class="svg-icon" src="./assets/svg/email.svg" alt="Email" />paulinarusak99@gmail.com
        </div>
        <div class="col-12 col-sm-auto col-lg-auto mr-sm-auto text-center text-sm-left fsmall p-0">
          <img class="svg-icon" src="./assets/svg/call.svg" alt="Phone" />+48 797 723
          557
        </div>
        <div class="col-12 col-sm-auto col-lg-6 text-center text-sm-right fsmall">
          <span class="check-us mr-4">Obserwuj nas</span>
          <a class="icon-link mr-2" href="https://www.facebook.com/" target="_blank">
            <img class="svg-icon--b" src="./assets/svg/facebook.svg" alt="Facebook" />
          </a>
          <a class="icon-link" href="https://www.instagram.com/" target="_blank">
            <img class="svg-icon--b" src="./assets/svg/instagram.svg" alt="Instagram" />
          </a>
        </div>
      </div>
    </div>
  </div>
</header>