<section class="price-list">
    <div class="container">
        <ns-title-page title="Cennik"></ns-title-page>
        <div class="row justify-content-center">
            <div class="col-md-12 col-lg-10">
                <div class="table">
                    <header>
                        <div class="table-header">
                            <h2 class="table-header__title">Aplikacja rzęs</h2>
                            <div class="row">
                                <div class="col-6">
                                    <h3 class="table-header__subtitle">Zabieg</h3>
                                </div>
                                <div class="col-6">
                                    <h3 class="table-header__subtitle">Cena</h3>
                                </div>
                            </div>
                        </div>
                    </header>

                    <div class="table-content" *ngFor="let lashe of lashes$">
                        <div class="row">
                            <div class="col-6">
                                <h4 class="table-content__name">{{lashe?.name_pricelist}}</h4>
                            </div>

                            <div class="col-6">
                                <p class="table-content__price"><strong>{{(lashe?.double_pricelist == 1) ?
                                        lashe?.price_pricelist +
                                        assumption +
                                        lashe?.supplementprice_pricelist + supplement : lashe?.price_pricelist + "
                                        zł"}}</strong></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="table">
                    <header>
                        <div class="table-header">
                            <h2 class="table-header__title">Aplikacja brwi</h2>
                            <div class="row">
                                <div class="col-6">
                                    <h3 class="table-header__subtitle">Zabieg</h3>
                                </div>
                                <div class="col-6">
                                    <h3 class="table-header__subtitle">Cena</h3>
                                </div>
                            </div>
                        </div>
                    </header>
                    <div class="table-content" *ngFor="let eyebrown of eyebrows$">
                        <div class="row">
                            <div class="col-6">
                                <h4 class="table-content__name">{{eyebrown.name_pricelist}}</h4>
                            </div>

                            <div class="col-6">
                                <p class="table-content__price"><strong>{{(eyebrown.double_pricelist == 1) ?
                                        eyebrown.price_pricelist +
                                        assumption
                                        +
                                        eyebrown.supplementprice_pricelist + supplement : eyebrown.price_pricelist + "
                                        zł"}}</strong></p>
                            </div>
                        </div>
                    </div>
                </div>
                <p class="additional-text">
                    *Uzupełnienie rzęs wykonuję 3 - 4 tygodnie od poprzedniej aplikacji lub gdy jest minimum 30% rzęs
                    syntetycznych z poprzedniej aplikacji. W innych przypadku naliczany jest koszt poprzedniego
                    założenia.
                </p>
            </div>
        </div>
    </div>
</section>