<header>
    <div class="infobar">
        <div class="container-fluid container-lg py-2 py-md-0">
            <div class="row align-items-center justify-content-sm-start">
                <div class="col-12 col-sm-auto col-lg-auto py-2">
                    <img class="icon" src="./assets/icons/email_i.png" alt="Email" />paulinarusak99@gmail.com
                </div>
                <div class="col-12 col-sm-auto col-lg-auto col-lg-auto mr-sm-auto p-0">
                    <img class="icon" src="./assets/icons/phone_i.png" alt="Phone" />+48 797 723 557
                </div>
                <div class="col-12 col-sm-auto col-lg-6 py-1">
                    <span class="check-us">Obserwuj nas</span>
                    <a class="icon-link" href="https://www.facebook.com/" target="_blank">
                        <img class="icon icon--big" src="./assets/icons/facebook_i.png" alt="Facebook" />
                    </a>
                    <a class="icon-link" href="https://www.instagram.com/" target="_blank">
                        <img class="icon icon--big" src="./assets/icons/instagram_i.png" alt="Instagram" />
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>