<section class="price-list">

    <div class="container">
        <div class="leaf-title">
            <div class="leaf-title__leaf">
                <h1 class="leaf-title__title">Cennik</h1>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-12 col-lg-10">
                <div class="table">
                    <div class="table-header">
                        <h3 class="table-header__title">Aplikacja rzęs</h3>
                        <div class="row">
                            <div class="col-6">
                                <h4 class="table-header__subtitle">Zabieg</h4>
                            </div>
                            <div class="col-6">
                                <h4 class="table-header__subtitle">Cena</h4>
                            </div>
                        </div>
                    </div>

                    <div class="table-content" *ngFor="let lashe of lashes$ | async">
                        <div class="row">
                            <div class="col-6">
                                <h5 class="table-content__name">{{lashe.name}}</h5>
                            </div>

                            <div class="col-6">
                                <p class="table-content__price"><strong>{{lashe.double ? lashe.price + assumption +
                                        lashe.supplementPrice + supplement : lashe.price + " zł"}}</strong></p>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="table">
                    <div class="table-header">
                        <h3 class="table-header__title">Aplikacja brwi</h3>
                        <div class="row">
                            <div class="col-6">
                                <h4 class="table-header__subtitle">Zabieg</h4>
                            </div>
                            <div class="col-6">
                                <h4 class="table-header__subtitle">Cena</h4>
                            </div>
                        </div>
                    </div>
                    <div class="table-content" *ngFor="let eyebrown of eyebrows$ | async">
                        <div class="row">
                            <div class="col-6">
                                <h5 class="table-content__name">{{eyebrown.name}}</h5>
                            </div>

                            <div class="col-6">
                                <p class="table-content__price"><strong>{{eyebrown.double ? eyebrown.price + assumption
                                        +
                                        eyebrown.supplementPrice + supplement : eyebrown.price + " zł"}}</strong></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>