@import 'variables';
.price-list
{
    margin-top: $margin-section;
    margin-bottom: $margin-section
}

.main-ib 
{
    text-align: center;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 10px;

    &__title 
    {
      text-transform: uppercase;
      padding: 10px;
      color: $color-second;
      border-top-left-radius: 7px;
      border-top-right-radius: 7px;
      background-image: linear-gradient(to right, rgba(18, 70, 68, 1), rgba(18, 70, 68, .55), rgba(18, 70, 68, 1));
      border-bottom: 1px solid black;
    }

    &__wrapper
    {
      text-transform: uppercase; 
      background-image: linear-gradient(to right, rgba(18, 70, 68, 1), rgba(18, 70, 68, .55), rgba(18, 70, 68, 1));
      padding: 10px;
      color: $color-second;
      border-bottom: 1px solid black;
    }
  
    &__content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 15px 15px;
      min-height: 220px;
      font-weight: 600;
    }
  
  }

  .wrapper-box
  {
    text-transform: uppercase; 
    background-image: linear-gradient(to right, rgba(18, 70, 68, 1), rgba(18, 70, 68, .55), rgba(18, 70, 68, 1));
    padding: 10px;
    color: $color-second;
    border-bottom: 1px solid black;
  }
