<section class="price-list">

    <div class="container">
        <div class="leaf-title">
            <div class="leaf-title__leaf">
                <h1 class="leaf-title__title">Cennik</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="main-ib">
                    <div class="main-ib__title">Aplikacja rzęs</div>
                    <div class="wrapper-box wrapper-box--background">
                        <div class="row">
                            <div class="col-6">
                                <div class="wrapper__subtitle">
                                    Zabieg
                                </div>
                            </div>

                            <div class="col-6">
                                <div class="kk">
                                    Cena
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="wrapper-box wrapper-box--background">
                        <div class="row">
                            <div class="col-6">
                                kljlkj
                            </div>

                            <div class="col-6">
                                kljlkjlk
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>