@import 'variables';

.opinions .container-fluid
{
    padding-top: 60px;
    padding-bottom: 60px;
    background-image: url('/../assets/img/flowers-small.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.opinions__title
{
    position: relative;
    margin: 60px auto;
    text-align: center;
   
    &::after
    {
        position: absolute;
        content: '';
        height: 1px;
        bottom: -12px; 
        margin: 0 auto;
        left: 0;
        right: 0;
        width: 100px;
        background: $color-main;
        filter: blur(1px);
    }
}

.opinion
{
    opacity: 0;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    background-color: rgba(0,0,0, 80%);
    color: $color-second;
    border-radius: 10px;
    font-size: 14px;
    transition: 0.3s ease;

    &:hover
    {
        background-color: rgba(0,0,0, 100%);
    }
}

.opinion__text
{
    position: relative;
    padding: 10px;
    text-align: center;
    &::after
    {
        display: block;
        content: "“";
        position: absolute;
        top: -30px;
        left: -18px;
        z-index: 10;
        font-family: 'Source Code Pro', monospace;
        font-size: 50px;
        font-weight: normal;
        text-shadow: 0px 10px 13px rgba($color-second, 0.11);
    }
    &::before
    {
        display: block;
        content: "“";
        position: absolute;
        bottom: -40px;
        right: -16px;
        z-index: 10;
        font-family: 'Source Code Pro', monospace;
        font-size: 50px;
        font-weight: normal;
        text-shadow: 0px 10px 13px rgba($color-second, 0.11);
    }
}

.opinion__author
{
    text-align: right;

    &--reverse
    {
        text-align: left;
    }
}

.opinion-animate
{
    display: block;
    animation: ContentAnimate 1.5s;
    animation-fill-mode: both;
}

@include media(lg)
{
    .opinion
    {
        margin: 20px;
    }
}
