<section class="opinions">
    <h2 class="opinions__title">Opinie naszych Klientów</h2>
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-7">
                    <figure class="opinion">
                        <blockquote class="opinion__text">Vivamus suscipit tortor eget felis porttitor volutpat.
                            Vestibulum ante ipsum primis
                            in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit
                            amet aliquam vel, ullamcorper sit amet ligula. Donec rutrum congue leo eget malesuada.
                        </blockquote>
                        <figcaption class="opinion__author">- Marianna</figcaption>
                    </figure>
                </div>
                <div class="col-12 col-lg-7 offset-lg-5">
                    <figure class="opinion">
                        <blockquote class="opinion__text">Vivamus suscipit tortor eget felis porttitor volutpat.
                            Vestibulum ante ipsum primis
                            in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit
                            amet aliquam vel, ullamcorper sit amet ligula. Donec rutrum congue leo eget malesuada.
                        </blockquote>
                        <figcaption class="opinion__author opinion__author--reverse">- Marianna</figcaption>
                    </figure>
                </div>
            </div>
        </div>
    </div>
</section>