<section class="training">
  <div class="leaf-title">
    <div class="leaf-title__leaf">
      <h1 class="leaf-title__title">Szkolenia</h1>
    </div>
  </div>

  <div class="container-fluid ">
    <div class="box item-img">
      <div class="hero-shadow"></div>
      <div class="container">
        <div class="course">
          <h2 class="size">Szkolenie z</h2>
          <h2 class="course__title size">przedłużania rzęs</h2>
          <p class="course__description">Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Vivamus magna
            justo, lacinia eget consectetur sed, convallis at tellus. Vivamus magna justo, lacinia eget consectetur sed,
            convallis at tellus. Sed porttitor lectus nibh.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="ask">
      <h2 class="section__title">Dlaczego warto wybrać nasze szkolenia z <br>przedłużania rzęs?</h2>
      <p>Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Pellentesque in ipsum id orci porta
        dapibus. Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Donec rutrum congue leo eget
        malesuada. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Praesent sapien massa, convallis a
        pellentesque nec, egestas non nisi.</p>
      <p>Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Pellentesque in ipsum id orci porta
        dapibus. Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Donec rutrum congue leo eget
        malesuada. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Praesent sapien massa, convallis a
        pellentesque nec, egestas non nisi.</p>
    </div>
  </div>
  <div class="container-fluid light-bc">
    <div class="container">
      <div class="actual-courses">
        <h2 class="section__title">Aktualnie prowadzone szkolenia</h2>


        <div class="accordion" id="acc">
          <div class="card">
            <div data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" 
            aria-controls="collapseOne" (click)='switcharrow("a1")'>
              <div class="box-cosmetic">
                <div class="box-cosmetic__content">
                  <div class="hero-shadow"></div>
                  <p class="card__title">Szkolenie z metody objętościowej 1:1</p>
                  <img src="./assets/img/arrow-icon-small.png" id="a1" class="a1 move"  alt="arrow icon">
                </div>
              </div>
            </div>
            <div id="collapseOne" class="collapse show" data-parent="#acc">
              <div class="card__text">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi ut minima impedit natus laudantium,
                  necessitatibus tempore odit, nesciunt sed accusamus cumque quaerat doloribus hic assumenda
                  obcaecatiipsum dolor sit amet consectetur adipisicing elit. Nisi ut minima impedit natus laudantium,
                  necessitatibus tempore odit, nesciunt sed accusamus cumque quaerat doloribus hic assumenda
                  obcaecati
                  fugit quam officia autem!</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate molestias perferendis,
                  inciduntipsum dolor sit amet consectetur adipisicing elit. Nisi ut minima impedit natus laudantium,
                  necessitatibus tempore odit, nesciunt sed accusamus cumque quaerat doloribus hic assumenda
                  obcaecati
                  dolor, sunt consequatur voluptas voluptates at tempore cum nostrum quisquam temporibus cupiditate
                  officiis, sapiente excepturi libero nesciunt nulla!</p>
                <p class="treatment-time">Czas trwania: 2h</p>
                <button class="main-button"><a href="tel:+48 797 723 557">Umów się</a></button>
              </div>
            </div>
          </div>
        </div>


        <div class="accordion" id="acc2" >
          <div class="card">
            <div data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" 
            aria-controls="collapseTwo" (click)='switcharrow("a2")'>
              <div class="box-cosmetic">
                <div class="box-cosmetic__content">
                  <div class="hero-shadow"></div>
                  <p class="card__title">Szkolenie z metody objętościowej 1:1</p>
                  <img src="./assets/img/arrow-icon-small.png" id="a2" class="a2" alt="arrow icon">
                </div>
              </div>
            </div>
            <div id="collapseTwo" class="collapse" data-parent="#acc2">
              <div class="card__text">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi ut minima impedit natus laudantium,
                  necessitatibus tempore odit, nesciunt sed accusamus cumque quaerat doloribus hic assumenda
                  obcaecatiipsum dolor sit amet consectetur adipisicing elit. Nisi ut minima impedit natus laudantium,
                  necessitatibus tempore odit, nesciunt sed accusamus cumque quaerat doloribus hic assumenda
                  obcaecati
                  fugit quam officia autem!</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate molestias perferendis,
                  inciduntipsum dolor sit amet consectetur adipisicing elit. Nisi ut minima impedit natus laudantium,
                  necessitatibus tempore odit, nesciunt sed accusamus cumque quaerat doloribus hic assumenda
                  obcaecati
                  dolor, sunt consequatur voluptas voluptates at tempore cum nostrum quisquam temporibus cupiditate
                  officiis, sapiente excepturi libero nesciunt nulla!</p>
                <p class="treatment-time">Czas trwania: 2h</p>
                <button class="main-button"><a href="tel:+48 797 723 557">Umów się</a></button>
              </div>
            </div>
          </div>
        </div>


        <div class="accordion" id="acc3">
          <div class="card">
            <div data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" 
            aria-controls="collapseThree" (click)='switcharrow("a3")'>
              <div class="box-cosmetic">
                <div class="box-cosmetic__content">
                  <div class="hero-shadow"></div>
                  <p class="card__title">Szkolenie z metody objętościowej 1:1</p>
                  <img src="./assets/img/arrow-icon-small.png" id="a3" class="a3" alt="arrow icon">
                </div>
              </div>
            </div>
            <div id="collapseThree" class="collapse" data-parent="#acc3">
              <div class="card__text">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi ut minima impedit natus laudantium,
                  necessitatibus tempore odit, nesciunt sed accusamus cumque quaerat doloribus hic assumenda
                  obcaecatiipsum dolor sit amet consectetur adipisicing elit. Nisi ut minima impedit natus laudantium,
                  necessitatibus tempore odit, nesciunt sed accusamus cumque quaerat doloribus hic assumenda
                  obcaecati
                  fugit quam officia autem!</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate molestias perferendis,
                  inciduntipsum dolor sit amet consectetur adipisicing elit. Nisi ut minima impedit natus laudantium,
                  necessitatibus tempore odit, nesciunt sed accusamus cumque quaerat doloribus hic assumenda
                  obcaecati
                  dolor, sunt consequatur voluptas voluptates at tempore cum nostrum quisquam temporibus cupiditate
                  officiis, sapiente excepturi libero nesciunt nulla!</p>
                <p class="treatment-time">Czas trwania: 2h</p>
                <button class="main-button"><a href="tel:+48 797 723 557">Umów się</a></button>
              </div>
            </div>
          </div>
        </div>


      </div>
    </div>

  </div>


</section>