@import 'variables';

.training {
  margin-top: 100px;
}

.container-fluid {
  margin: 0;
  padding: 0;
}

.leaf-title__leaf {
  margin-bottom: 80px;
}

.hero-shadow {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($color: $color-third, $alpha: 0.7);
  background-repeat: no-repeat;
  z-index: -1;
}

.item-img {
  color: $color-second;
  position: relative;
  height: 450px;
  z-index: 0;
  background-image: url(/../assets/img/tr-fluid-img-small.png);
  background-position: center;
  background-size: cover;
}

.size {
  font-size: 25px;
  font-weight: 600;
  text-transform: uppercase;
}

.course {
  padding: 50px 0;

  &__title {
    position: relative;
    margin-bottom: 60px;

    &::after {
      position: absolute;
      content: '';
      height: 2px;
      bottom: -12px;
      left: 0;
      right: 0;
      width: 145px;
      background: $color-second;
      filter: blur(1px);
    }
  }

  &__description {
    font-size: 15px;
  }
}

.section__title {
  font-size: 24px;
  font-weight: bold;
  position: relative;
  margin: 60px auto;
  text-align: center;

  &::after {
    position: absolute;
    content: '';
    height: 1px;
    bottom: -12px;
    margin: 0 auto;
    left: 0;
    right: 0;
    width: 140px;
    background: $color-main;
    filter: blur(1px);
  }
}

.actual-courses {
  margin-top: 100px;
  padding: 50px 0;
}
.light-bc{
  background-color: rgb(241, 236, 236);
}
.accordion {
  padding-bottom: 100px;
}

.box-cosmetic {
  color: $color-second;
  position: relative;
  height: 200px;
  background-position: center;
  background-size: cover;
  z-index: 0;
  background-image: url('/../assets/img/oko-harmonijka.png');

  &__content {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
  }

  & img {
    height: 35px;
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 50%;
  }

  & img:hover {
    cursor: pointer;
    animation: pulse 2s infinite;
  }
}

.card {
  border-radius: 15px;
  border: 0;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

  &__title {
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    padding: 0 10px;
  }

  &__text {
    padding: 15px 60px;
    font-size: 18px;
     border-bottom: 4px solid $color-main;
    box-shadow: inset 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }
}

.treatment-time {
  padding: 30px 0;
}


@include media(sm) {
  .size {
    font-size: 32px;
    font-weight: bold;
  }

  .course__description {
    font-size: 18px;
  }
}

@include media(md) {
  .size {
    font-size: 43px;

  }
}

.move{
  transform: rotate(180deg);
}
