<section class="training">
  <header>
    <div class="leaf-title">
      <div class="leaf-title__leaf">
        <h1 class="leaf-title__title">Szkolenia</h1>
      </div>
    </div>
  </header>
  <section>
    <div class="container-fluid ">
      <div class="box item-img">
        <div class="hero-shadow"></div>
        <div class="container">
          <div class="course">
            <header>
              <h2 class="course__title"> Profesjonalne szkolenia oraz <br />doszkolenia z zakresu przedłużania
                rzęs.</h2>
            </header>
            <p class="course__description">Serdecznie zapraszam na szkolenia z zakresu przedłużania rzęs które
              prowadzone są przez właścicielkę salonu Paulinę Rusak z wieloletnim doświadczeniem i jednocześnie
              dyplomowanego instruktora szkoleniowego.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="container">
      <div class="ask">
        <header>
          <h2 class="section__title">Dlaczego warto wybrać nasze szkolenia z <br>przedłużania rzęs?</h2>
        </header>
        <p>
          Szkolenia skierowane są zarówno do osób początkujących, jak i zaawansowanych.
          Wszyscy uczestnicy mają zapewniony indywidualny tok nauczania oraz precyzyjny trening.
          Dla każdego z uczestników przygotowane jest odrębne stanowisko pracy z pełnym wyposażeniem.
          Staram się przekazać kursantom całą wiedzę i odpowiedzieć na każde ich pytanie.
          Podczas szkoleń nie lekceważymy wiedzy teoretycznej, ale też kładę duży nacisk na ćwiczenia praktyczne. W
          trakcie każdego szkolenia około 80% czasu poświęcamy na praktykę a 20% na teorię.</p>
        <p>Każdy uczestnik szkolenia po jego pozytywnym ukończeniu otrzymuje imienny, oryginalny certyfikat.
          Zapewniamy wszelkie produkty, materiały oraz narzędzia niezbędne do odbycia szkolenia. Dodatkowo każdy
          uczestnik szkolenia otrzymuje na własność skrypt dydaktyczny utrwalający jego wiedzę.
          Moi kursanci mogą liczyć na miłą i przyjazną atmosferę w trakcie trwania szkoleń.</p>
        <p>Szkolenia odbywają się przez cały rok zarówno w roku szkolnym jak i w okresie wakacyjnym, terminy oraz
          godziny poszczególnych kursów ustalane są indywidualnie, w zależności od dyspozycyjności i możliwości
          czasowych naszych kursantek.
          Moi kursanci otrzymuja bezpłatne, dożywotnie konsultacje i porady w razie jakichkolwiek problemów
          pojawiających się już podczas samodzielnego wykonywania danej usługi. W każdej chwili i mogą liczyć na kontakt
          telefoniczny, osobisty lub też mailowy.
          Oferuje indywidualne warsztaty doszkalające ukierunkowane na konkretne zagadnienia.</p>
      </div>
    </div>
  </section>

  <div class="container-fluid light-bc">
    <div class="container">
      <div class="actual-courses">
        <header>
          <h2 class="section__title">Aktualnie prowadzone szkolenia</h2>
        </header>
        <div class="row justify-content-center">
          <div class="col-12 col-lg-11">
            <article>
              <div class="accordion" id="acc">
                <div class="card">
                  <div data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                    aria-controls="collapseOne" (click)='switcharrow("a1")'>
                    <div class="box-cosmetic">
                      <div class="box-cosmetic__content">
                        <div class="hero-shadow"></div>
                        <header>
                          <h3 class="card__title">Metoda podstawowa 1:1</h3>
                        </header>
                        <img src="./assets/icons/arrow-icon-small.png" id="a1" class="a1 move" alt="arrow icon">
                      </div>
                    </div>
                  </div>
                  <div id="collapseOne" class="collapse show" data-parent="#acc">
                    <div class="card__text">
                      <p>Wprowadzenie kursantki do świata stylizacji rzęs, który jest niezbędny do opanowania wszystkich
                        technik pracy na oku, obszerne materiałoznawstwo, zagadnienia jest to rowniez najważniejszy i
                        kluczowy etap w karierze każdej stylistki rzęs.</p>
                      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate molestias perferendis,
                        inciduntipsum dolor sit amet consectetur adipisicing elit. Nisi ut minima impedit natus
                        laudantium,
                        necessitatibus tempore odit, nesciunt sed accusamus cumque quaerat doloribus hic assumenda
                        obcaecati
                        dolor, sunt consequatur voluptas voluptates at tempore cum nostrum quisquam temporibus
                        cupiditate
                        officiis, sapiente excepturi libero nesciunt nulla!</p>
                      <p class="treatment-time">Czas trwania: 8 - 9h</p>
                      <button class="main-button" name="phone"><a href="tel:+48 797 723 557">Umów się</a></button>
                    </div>
                  </div>
                </div>
              </div>
            </article>
          </div>

          <div class="col-12 col-lg-11">
            <article>
              <div class="accordion" id="acc2">
                <div class="card">
                  <div data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true"
                    aria-controls="collapseTwo" (click)='switcharrow("a2")'>
                    <div class="box-cosmetic">
                      <div class="box-cosmetic__content">
                        <div class="hero-shadow"></div>
                        <header>
                          <h3 class="card__title">Metoda light volume 2-5D</h3>
                        </header>
                        <img src="./assets/icons/arrow-icon-small.png" id="a2" class="a2" alt="arrow icon">
                      </div>
                    </div>
                  </div>
                  <div id="collapseTwo" class="collapse" data-parent="#acc2">
                    <div class="card__text">
                      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi ut minima impedit natus
                        laudantium,
                        necessitatibus tempore odit, nesciunt sed accusamus cumque quaerat doloribus hic assumenda
                        obcaecatiipsum dolor sit amet consectetur adipisicing elit. Nisi ut minima impedit natus
                        laudantium,
                        necessitatibus tempore odit, nesciunt sed accusamus cumque quaerat doloribus hic assumenda
                        obcaecati
                        fugit quam officia autem!</p>
                      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate molestias perferendis,
                        inciduntipsum dolor sit amet consectetur adipisicing elit. Nisi ut minima impedit natus
                        laudantium,
                        necessitatibus tempore odit, nesciunt sed accusamus cumque quaerat doloribus hic assumenda
                        obcaecati
                        dolor, sunt consequatur voluptas voluptates at tempore cum nostrum quisquam temporibus
                        cupiditate
                        officiis, sapiente excepturi libero nesciunt nulla!</p>
                      <p class="treatment-time">Czas trwania: 2h</p>
                      <button class="main-button" name="phone"><a href="tel:+48 797 723 557">Umów się</a></button>
                    </div>
                  </div>
                </div>
              </div>
            </article>
          </div>
          <div class="col-12 col-lg-11">
            <article>
              <div class="accordion lastAccordion" id="acc3">
                <div class="card">
                  <div data-toggle="collapse" data-target="#collapseThree" aria-expanded="true"
                    aria-controls="collapseThree" (click)='switcharrow("a3")'>
                    <div class="box-cosmetic">
                      <div class="box-cosmetic__content">
                        <div class="hero-shadow"></div>
                        <header>
                          <h3 class="card__title">Metoda mega volume</h3>
                        </header>
                        <img src="./assets/icons/arrow-icon-small.png" id="a3" class="a3" alt="arrow icon">
                      </div>
                    </div>
                  </div>
                  <div id="collapseThree" class="collapse" data-parent="#acc3">
                    <div class="card__text">
                      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi ut minima impedit natus
                        laudantium,
                        necessitatibus tempore odit, nesciunt sed accusamus cumque quaerat doloribus hic assumenda
                        obcaecatiipsum dolor sit amet consectetur adipisicing elit. Nisi ut minima impedit natus
                        laudantium,
                        necessitatibus tempore odit, nesciunt sed accusamus cumque quaerat doloribus hic assumenda
                        obcaecati
                        fugit quam officia autem!</p>
                      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate molestias perferendis,
                        inciduntipsum dolor sit amet consectetur adipisicing elit. Nisi ut minima impedit natus
                        laudantium,
                        necessitatibus tempore odit, nesciunt sed accusamus cumque quaerat doloribus hic assumenda
                        obcaecati
                        dolor, sunt consequatur voluptas voluptates at tempore cum nostrum quisquam temporibus
                        cupiditate
                        officiis, sapiente excepturi libero nesciunt nulla!</p>
                      <p class="treatment-time">Czas trwania: 2h</p>
                      <button class="main-button" name="phone"><a href="tel:+48 797 723 557">Umów się</a></button>
                    </div>
                  </div>
                </div>
              </div>
            </article>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>