<section class="training">
  <ns-title-page title="Szkolenia"></ns-title-page>
  <section>
    <div class="container-fluid ">
      <div class="box item-img">
        <div class="hero-shadow"></div>
        <div class="container">
          <div class="course">
            <header>
              <h2 class="course__title"> Profesjonalne szkolenia oraz <br />doszkolenia z zakresu przedłużania
                rzęs.</h2>
            </header>
            <p class="course__description">Serdecznie zapraszam na szkolenia z zakresu przedłużania rzęs które
              prowadzone są przez właścicielkę salonu Paulinę Rusak z wieloletnim doświadczeniem i jednocześnie
              dyplomowanego instruktora szkoleniowego.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="container">
      <div class="ask">
        <header>
          <h2 class="section__title">Dlaczego warto wybrać nasze szkolenia z <br>przedłużania rzęs?</h2>
        </header>
        <p>
          Szkolenia skierowane są zarówno do osób początkujących, jak i zaawansowanych.
          Wszyscy uczestnicy mają zapewniony indywidualny tok nauczania oraz precyzyjny trening.
          Dla każdego z uczestników przygotowane jest odrębne stanowisko pracy z pełnym wyposażeniem.
          Staram się przekazać kursantom całą wiedzę i odpowiedzieć na każde ich pytanie.
          Podczas szkoleń nie lekceważymy wiedzy teoretycznej, ale też kładę duży nacisk na ćwiczenia praktyczne. W
          trakcie każdego szkolenia około 80% czasu poświęcamy na praktykę a 20% na teorię.</p>
        <p>Każdy uczestnik szkolenia po jego pozytywnym ukończeniu otrzymuje imienny, oryginalny certyfikat.
          Zapewniamy wszelkie produkty, materiały oraz narzędzia niezbędne do odbycia szkolenia. Dodatkowo każdy
          uczestnik szkolenia otrzymuje na własność skrypt dydaktyczny utrwalający jego wiedzę.
          Moi kursanci mogą liczyć na miłą i przyjazną atmosferę w trakcie trwania szkoleń.</p>
        <p>Szkolenia odbywają się przez cały rok zarówno w roku szkolnym jak i w okresie wakacyjnym, terminy oraz
          godziny poszczególnych kursów ustalane są indywidualnie, w zależności od dyspozycyjności i możliwości
          czasowych naszych kursantek.
          Moi kursanci otrzymuja bezpłatne, dożywotnie konsultacje i porady w razie jakichkolwiek problemów
          pojawiających się już podczas samodzielnego wykonywania danej usługi. W każdej chwili i mogą liczyć na kontakt
          telefoniczny, osobisty lub też mailowy.
          Oferuje indywidualne warsztaty doszkalające ukierunkowane na konkretne zagadnienia.</p>
      </div>
    </div>
  </section>

  <div class="container-fluid light-bc">
    <div class="container">
      <div class="actual-courses">
        <header>
          <h2 class="section__title">Aktualnie prowadzone szkolenia</h2>
        </header>
        <div class="row justify-content-center">
          <div class="col-12 col-lg-11">
            <article>
              <div class="accordion" id="acc">
                <div class="card">
                  <div data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                    aria-controls="collapseOne" (click)='switcharrow("a1")'>
                    <div class="box-cosmetic">
                      <div class="box-cosmetic__content">
                        <div class="hero-shadow"></div>
                        <header>
                          <h3 class="card__title">Metoda podstawowa 1:1</h3>
                        </header>
                        <img src="./assets/icons/arrow-icon-small.png" id="a1" class="a1 move" alt="arrow icon">
                      </div>
                    </div>
                  </div>
                  <div id="collapseOne" class="collapse show" data-parent="#acc">
                    <div class="card-content">
                      <p>Kurs skierowany do osób, które nie miały doświadczenia ze stylizacją rzęs, nie ukończyły
                        żadnego profesjonalnego kursu w tym zakresie, chciałyby spróbować swoich sił w pracy z pęsetami.
                        Podczas tego kursu dowiesz się jak poprawnie wykonać rzęsy metodą 1:1. Szkolenie przygotuje Twój
                        warsztat pracy pod metody objętościowe, które są kolejnym krokiem w karierze stylistki rzęs.
                        Kurs został podzielony na trzy części zadaniowe:</p>
                      <ul>
                        <li>Część teoretyczną.</li>
                        <li>Część praktyczną (suchą, trening pęset na gąbce lub główce treningowej).</li>
                        <li>Praktyka wyklejanie rzęs na modelce.</li>
                      </ul>
                      <h4>PROGRAM SZKOLENIA:</h4>
                      <h5>CZĘŚĆ TEORETYCZNA</h5>
                      <ol>
                        <li>Historia przedłużania rzęs.</li>
                        <li>Budowa i funkcje rzęsy naturalnej.</li>
                        <li>Omówienie zasad BHP pracy stylistki rzęs. Stanowisko pracy stylisty, objaśnienie –
                          kompletowanie rzeczy potrzebnych do pracy.</li>
                        <li>Techniczne przygotowanie aplikacji, zawierające zasady pracy praktycznej:
                          <ul>
                            <li>dobór pęsety.</li>
                            <li>odpowiednia technika pracy z klejem.</li>
                            <li>przyłożenie rzęsy syntetycznej do naturalnej.</li>
                            <li>kierunkowanie rzęs naturalnych.</li>
                            <li>odstęp.</li>
                            <li>dobór modelowań.</li>
                          </ul>
                        </li>
                        <li>
                          Przeciwwskazania do zabiegu.
                        </li>
                        <li>Procedura zabiegowa.</li>
                        <li>Określenie zaleceń pielęgnacyjnych.</li>
                        <li>Omówienie ankiety zabiegowej.</li>
                      </ol>
                      <h5>CZĘŚĆ PRAKTYCZNA</h5>
                      <ol>
                        <li>Trening:
                          <ul>
                            <li>praca z pęsetą.</li>
                            <li>nauka pracy z klejem.</li>
                            <li>przyklejanie rzęs do głowy lub gąbeczki treningowej.</li>
                          </ul>
                        </li>
                        <li>Praca na modelce:
                          <ul>
                            <li>szlifowanie pracy z klejem i aspektami technicznymi stylizacji rzęs.</li>
                            <li>nauka poprawnej postawy w trakcie pracy z modelką.</li>
                            <li>budowanie fundamentu stylistki rzęs.</li>
                          </ul>
                        </li>
                      </ol>
                      <h5>CENA SZKOLENIA OBEJMUJE</h5>
                      <ol>
                        <li>Obszerny skrypt szkoleniowy.</li>
                        <li>Certyfikat.</li>
                        <li>Produkty używane podczas ćwiczeń.</li>
                        <li>Przekąski zimne, ciepłe i napoje podczas szkolenia.</li>
                        <li>Dodanie do zamkniętej grupy kursantów na FB, na której kursantki mogą pytać szkoleniowca
                          oraz już pracujących stylistek o porady dotyczące stylizacji rzęs, oraz dowiedzieć się o
                          najbliższych wydarzeniach w branży.</li>
                        <li>Opiekę zdalną instruktora po skończonym kursie.</li>
                      </ol>
                      <div class="treatment-time">
                        <p><strong>Czas trwania:</strong> 1 dzień / 8 godzin</p>
                        <p><strong>Cena:</strong> 1200 zł</p>
                      </div>
                      <button class="main-button" name="phone"><a href="tel:+48 797 723 557">Umów się</a></button>
                    </div>
                  </div>
                </div>
              </div>
            </article>
          </div>

          <div class="col-12 col-lg-11">
            <article>
              <div class="accordion" id="acc2">
                <div class="card">
                  <div data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true"
                    aria-controls="collapseTwo" (click)='switcharrow("a2")'>
                    <div class="box-cosmetic">
                      <div class="box-cosmetic__content">
                        <div class="hero-shadow"></div>
                        <header>
                          <h3 class="card__title">Metoda light volume 2-5D</h3>
                        </header>
                        <img src="./assets/icons/arrow-icon-small.png" id="a2" class="a2" alt="arrow icon">
                      </div>
                    </div>
                  </div>
                  <div id="collapseTwo" class="collapse" data-parent="#acc2">
                    <div class="card-content">
                      <p>Kurs skierowany do stylistek pracujących metodą klasyczną oraz osób, które mają problem z
                        metodami wolumetrycznymi i chciałyby doszkolić swoje umiejętności. Podczas tego kursu dowiesz
                        się jak poprawnie wykonać kępkę. Szkolenie przygotuje Twój warsztat pracy pod zaawansowane
                        techniki stylizacji rzęs, które są kolejnym krokiem w karierze stylistki rzęs. Kurs został
                        podzielony na trzy części zadaniowe:</p>
                      <ul>
                        <li>Część teoretyczną.</li>
                        <li>Część praktyczną (suchą, trening pęset na gąbce lub główce treningowej).</li>
                        <li>Część praktyczną na modelce.</li>
                      </ul>
                      <h4>PROGRAM SZKOLENIA:</h4>
                      <h5>CZĘŚĆ TEORETYCZNA</h5>
                      <ol>
                        <li>Kompletowanie kuferka stylistki pracującej metodami wolumetrycznymi:
                          <ul>
                            <li>preparaty i narzędzia używane aby uzyskać efekt volume.</li>
                            <li>rodzaje i waga rzęs wykorzystywanych w metodach objętościowych lekkich.</li>
                            <li>materiały wykorzystywane podczas objętościowych stylizacji rzęs.</li>
                            <li>rodzaje i dobór pęset do wykonania „light volume”.</li>
                          </ul>
                        </li>
                        <li>Techniczne przygotowanie aplikacji volume, zawierające zasady pracy praktycznej:
                          <ul>
                            <li>charakterystyka wachlarzy.</li>
                            <li>praca z klejem.</li>
                            <li>praca w rzędach.</li>
                            <li>korygowanie kształtu oczu poprzez odpowiednie modelowania.</li>
                            <li>korygowanie kształtu oczu poprzez odpowiednie modelowania.</li>
                            <li>analiza kształtu oczu z uwzględnieniem linii horyzontalnych.</li>
                          </ul>
                        </li>
                        <li>Procedura zabiegowa.</li>
                        <li>Przyczyny nietrwałej aplikacji.</li>
                      </ol>

                      <h5>CZĘŚĆ PRAKTYCZNA</h5>
                      <ol>
                        <li>Trening:
                          <ul>
                            <li>ćwiczenia kępek na „sucho” z gąbeczką treningową.</li>
                            <li>praca z klejem.</li>
                            <li>praca z różnym typem zakrzywień pęset.</li>
                          </ul>
                        </li>
                        <li>Praca na modelce:
                          <ul>
                            <li>nauka techniki rzędowania.</li>
                          </ul>
                        </li>
                      </ol>
                      <h5>CENA SZKOLENIA OBEJMUJE</h5>
                      <ol>
                        <li>Obszerny skrypt szkoleniowy.</li>
                        <li>Certyfikat.</li>
                        <li>Produkty używane podczas ćwiczeń.</li>
                        <li>Przekąski zimne, ciepłe i napoje podczas szkolenia.</li>
                        <li>Dodanie do zamkniętej grupy kursantów na FB, na której kursantki mogą pytać szkoleniowca
                          oraz już pracujących stylistek o porady dotyczące stylizacji rzęs, oraz dowiedzieć się o
                          najbliższych wydarzeniach w branży.</li>
                        <li>Opiekę zdalną instruktora po skończonym kursie.</li>
                      </ol>
                      <div class="treatment-time">
                        <p><strong>Czas trwania:</strong> 1 dzień / 8 godzin</p>
                        <p><strong>Cena:</strong> 1200 zł</p>
                      </div>
                      <button class="main-button" name="phone"><a href="tel:+48 797 723 557">Umów się</a></button>
                    </div>
                  </div>
                </div>
              </div>
            </article>
          </div>
          <div class="col-12 col-lg-11">
            <article>
              <div class="accordion lastAccordion" id="acc3">
                <div class="card">
                  <div data-toggle="collapse" data-target="#collapseThree" aria-expanded="true"
                    aria-controls="collapseThree" (click)='switcharrow("a3")'>
                    <div class="box-cosmetic">
                      <div class="box-cosmetic__content">
                        <div class="hero-shadow"></div>
                        <header>
                          <h3 class="card__title">Metoda mega volume</h3>
                        </header>
                        <img src="./assets/icons/arrow-icon-small.png" id="a3" class="a3" alt="arrow icon">
                      </div>
                    </div>
                  </div>
                  <div id="collapseThree" class="collapse" data-parent="#acc3">
                    <div class="card-content">
                      <p>Podczas tego kursu dowiesz się jak świadomie wykonać kępkę w dłoni, oraz czym różni się metoda
                        mega volume od hyper volume. Szkolenie przygotuje Twój warsztat pracy pod bardzo dużych,
                        spektakularnych objętości w niecodziennej technice pracy. Kurs został podzielony na:</p>
                      <ul>
                        <li>Część teoretyczną.</li>
                        <li>Część praktyczną suchą.</li>
                        <li>Część praktyczną na modelce.</li>
                      </ul>
                      <h4>PROGRAM SZKOLENIA:</h4>
                      <h5>CZĘŚĆ TEORETYCZNA</h5>
                      <ol>
                        <li>Kompletowanie kuferka stylistki pracującej metodami wolumetrycznymi:
                          <ul>
                            <li>Preparaty i narzędzia używane aby uzyskać efekt mega volume, różnice w pracy z lekkimi i
                              dużymi objętościami.</li>
                            <li>Rodzaje i waga rzęs wykorzystywanych w metodach objętościowych.</li>
                            <li>Materiały wykorzystywane podczas objętościowych stylizacji rzęs.</li>
                            <li>Rodzaje i dobór pęset do wykonania „light volume”.</li>
                          </ul>
                        </li>
                        <li>Techniczne przygotowanie aplikacji volume, zawierające zasady pracy praktycznej:
                          <ul>
                            <li>charakterystyka wachlarzy 10D+.</li>
                            <li>praca z klejem.</li>
                            <li>praca w rzędach.</li>
                            <li>korygowanie kształtu oczu poprzez odpowiednie zaawansowane techniki modelowania.</li>
                          </ul>
                        </li>
                        <li>Mieszanie skrętów i kolorów, jako jedna z technik na uzyskanie najlepiej dopasowanego
                          modelowania:
                          <ul>
                            <li>analiza kształtu oczu z uwzględnieniem linii horyzontalnych.</li>
                          </ul>
                        </li>
                        <li>Procedura zabiegowa.</li>
                        <li>Przyczyny nietrwałej aplikacji.</li>
                      </ol>
                      <h5>CZĘŚĆ PRAKTYCZNA</h5>
                      <ol>
                        <li>Trening:
                          <ul>
                            <li>prezentacja techniki tworzenia dużych kępek w palcach.</li>
                            <li>ćwiczenia kępek na „sucho” z gąbeczką treningową.</li>
                            <li>praca z klejem.</li>
                          </ul>
                        </li>
                        <li>Praktyka:
                          <ul>
                            <li>praktyka na modelce wyklejenie dolnego rzędu.</li>
                            <li>praca na rzędach.</li>
                          </ul>
                        </li>
                      </ol>
                      <h5>CENA SZKOLENIA OBEJMUJE</h5>
                      <ol>
                        <li>Obszerny skrypt szkoleniowy.</li>
                        <li>Certyfikat.</li>
                        <li>Produkty używane podczas ćwiczeń.</li>
                        <li>Przekąski zimne, ciepłe i napoje podczas szkolenia.</li>
                        <li>Dodanie do zamkniętej grupy kursantów na FB, na której kursantki mogą pytać szkoleniowca
                          oraz już pracujących stylistek o porady dotyczące stylizacji rzęs, oraz dowiedzieć się o
                          najbliższych wydarzeniach w branży.</li>
                        <li>Opiekę zdalną instruktora po skończonym kursie.</li>
                      </ol>
                      <div class="treatment-time">
                        <p><strong>Czas trwania:</strong> 1 dzień / 8 godzin</p>
                        <p><strong>Cena:</strong> 1200 zł</p>
                      </div>
                      <button class="main-button" name="phone"><a href="tel:+48 797 723 557">Umów się</a></button>
                    </div>
                  </div>
                </div>
              </div>
            </article>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>