<section class="about">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-6 col-xl-4 offset-xl-1">
                <header>
                    <h1 class="about__title">Witamy w salonie <br /> Nowe Spojrzenie</h1>
                </header>
                <p class="about__description">Witaj nazywam się Paulina Rusak. Jestem właścicielka salonu kosmetycznego
                    „Nowe Spojrzenie - stylizacja rzęs”. Stworzyłam to miejsce z zamiłowania do piękna.
                    W 2016 roku zaczęło się z pozoru niewinnie od pierwszego szkolenia z zakresu przedłużania rzęs
                    metoda 1:1. Chęć doskonalenia się w tej dziedzinie kosmetyki doprowadziła mnie do posiadania na
                    swoim
                    koncie około 40 szkoleń, kursów, doszkoleń z przedłużania rzęs i zabiegów upiększających brwi.
                </p>
                <p class="about__description">Nowe Spojrzenie to miejsce w którym odpoczniesz, zrelaksujesz się i
                    wyjdziesz odmieniona. A co najważniejsze pewna siebie.
                    To miejsce stworzone z pasji od kobiety dla kobiet.
                </p>
            </div>
            <div class="col-12 col-lg-6 col-xl-6 d-flex justify-content-center align-items-center">
                <div class="frame"></div>
            </div>
        </div>
    </div>
</section>